.actions {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px;
  column-gap: 12px;
  background: #dbf4fa;
  height: 100%;

  & ion-button {
    width: 100%;
    --border-color: rgba(0 , 0, 0, .3);
    --border-style: solid;
    --border-width: 1px;
    font-weight: bold;
  }

  & ion-icon {
    margin-right: 12px;
  }

  @media (max-width: 391px) {
    grid-template-columns: repeat(1, 1fr);
  }
}