section {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: .8fr 2fr 1.2fr;
  overflow-y: scroll;
  overflow-x: hidden;

  & .info, .actions {
    text-align: center;
  }

  & .game {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/battle/bg/grass.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 150px;
      transform-origin: 50% 50%;
      transition: all 300ms;
    }
  }
}