section {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: .8fr 2.2fr .8fr;
  overflow-x: hidden;

  & pokedex-play-info, 
    pokedex-play-game,
    pokedex-play-actions {
    height: 100%;
  }
}

ion-router-outlet {
  z-index: -1;
}



