<pokedex-header title="Adventure" 
              menu="locations">
</pokedex-header>

<ion-content [fullscreen]="true">
  <section>
    <pokedex-play-info [pokemon]="pokemon"
                       [region]="region"
                       [location]="location"
                       [playing]="playing"
                       [show]="show">
    </pokedex-play-info>

    <pokedex-play-game [pokemon]="pokemon"
                       [location]="location"
                       [playing]="playing"
                       [show]="show">
    </pokedex-play-game>

    <pokedex-play-actions [rolls]="rolls"
                          [pokeballs]="pokeballs"
                          [playing]="playing"
                          [show]="show"
                          (onRoll)="doRoll()"
                          (onPokeball)="doPokeball()"
                          (onShare)="share()"
                          (onReset)="reset()">
    </pokedex-play-actions>
  </section>
</ion-content>

<pokedex-play-menu (onChangeLocation)="changeLocation($event)">
</pokedex-play-menu>

<ion-router-outlet id="locations"></ion-router-outlet>


